In [106]:
# import packages

import pandas as pd
import csv
import math
import plotly
import dash
from dash import Dash, dcc, html, Input, Output
import plotly.express as px

In [63]:
# read in datasets

vdem = pd.read_csv('V-Dem-CY-Full+Others-v14.csv', encoding= 'utf-8')
bti = pd.read_csv('free-fair-elections-bti.csv', quoting=csv.QUOTE_NONE, encoding= 'utf-8')
fiw = pd.read_excel('Country_and_Territory_Ratings_and_Statuses_FIW_1973-2024.xlsx', sheet_name = 'Country Ratings, Statuses ', skiprows = 2)
fiw_years = pd.read_excel('Country_and_Territory_Ratings_and_Statuses_FIW_1973-2024.xlsx', sheet_name = 'Country Ratings, Statuses ', skiprows=1, nrows=1, header = None)
wrp = pd.read_csv('WRP_national.csv', quoting=csv.QUOTE_NONE, encoding= 'utf-8')

/var/folders/rd/8m4_zzhs0pn_c_576285lzcm0000gp/T/ipykernel_19987/2010659898.py:3: DtypeWarning: Columns (364,365,366,399,415,804,836,837,924,1240,1257,1486,3094,3168,3169,3341,3342,3344,3345,3347,3350,3352) have mixed types. Specify dtype option on import or set low_memory=False.
  vdem = pd.read_csv('V-Dem-CY-Full+Others-v14.csv', encoding= 'utf-8')

In [64]:
# Remove uneccesary quotation marks from the vdem dataset

vdem = vdem.replace('"', '', regex=True)
new_headers = []
for header in vdem.columns: 
    header = header.strip('"') 
    new_headers.append(header)
vdem.columns = new_headers

In [65]:
# Reshape the FIW dataset to align with the format of the other datasets

PR = [col for col in fiw.columns if col.startswith('PR')]
CL = [col for col in fiw.columns if col.startswith('CL')]
Status = [col for col in fiw.columns if col.startswith('Status')]
fiw_r = pd.lreshape(fiw, {'PR':PR, 'CL':CL, 'Status':Status})

In [66]:
# Align country names to match among all datasets in the appropriate years

country_rename = {
    "Burma/Myanmar": "Myanmar (Burma)",
    "Myanmar": "Myanmar (Burma)",
    "Republic of Vietnam": "South Vietnam",
    "Vietnam, S.": "South Vietnam",
    "Vietnam, N.": "North Vietnam", # add code that says if its before a certain year, change some Vietnams to North Vietnam
    "Yemen, S.": "South Yemen",
    "Yemen, N.": "North Yemen", # add code that says if its before a certain year, change some Yemens to North Yemen
    "Republic of the Congo": "Congo (Brazzaville)",
    "Congo": "Congo (Brazzaville)",
    "Democratic Republic of the Congo ": "Congo (Kinshasa)",
    "Germany, W.": "West Germany", # add code that says if its before a certain year, change some Germanies to West Germany
    "Germany, E.": "East Germany", 
    "German Democratic Republic": "East Germany",
    "Czechia": "Czech Republic", # add code that says if its before a certain year, change it to Czechoslovakia
    "United States": "United States of America",
    "Cote d'Ivoire": "Ivory Coast",
    "Cabo Verde": "Cape Verde",
    "T√ºrkiye": "Turkey",
    "East Timor": "Timor-Leste",
    "The Gambia": "Gambia"
}

vdem["country_name"] = vdem["country_name"].replace(country_rename) 
bti["Entity"] = bti["Entity"].replace(country_rename) 
fiw_r["Country"] = fiw_r["Country"].replace(country_rename) 


for i in range(len(vdem)):
    if (vdem.loc[i,'country_name'] == 'Vietnam') and (1945 < vdem.loc[i,'year'] <= 1976):
        vdem.loc[i,'country_name'] = 'North Vietnam'
    if (vdem.loc[i,'country_name'] == 'Yemen') and (1918 < vdem.loc[i,'year'] <= 1990):
        vdem.loc[i,'country_name'] = 'North Yemen'
    if (vdem.loc[i,'country_name'] == 'Germany') and (1949 < vdem.loc[i,'year'] <= 1990):
        vdem.loc[i,'country_name'] = 'West Germany'
    if (vdem.loc[i,'country_name'] == 'Czech Republic') and (vdem.loc[i,'year'] < 1993):
        vdem.loc[i,'country_name'] = 'Czechoslovakia'

In [67]:
vdem

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_mipopula,e_miurbani,e_pefeliex,e_wb_pop,e_pechmor,e_miinteco,e_civil_war,e_miinterc,e_pt_coup,e_pt_coup_attempts
0,Mexico,MEX,3,1789,1789-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
1,Mexico,MEX,3,1790,1790-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
2,Mexico,MEX,3,1791,1791-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
3,Mexico,MEX,3,1792,1792-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
4,Mexico,MEX,3,1793,1793-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27729,Piedmont-Sardinia,SPD,373,1857,1857-12-31,1,1,Kingdom of Piedmont-Sardinia,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27730,Piedmont-Sardinia,SPD,373,1858,1858-12-31,1,1,Kingdom of Piedmont-Sardinia,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27731,Piedmont-Sardinia,SPD,373,1859,1859-12-31,1,1,Kingdom of Piedmont-Sardinia [incorporates Lom...,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27732,Piedmont-Sardinia,SPD,373,1860,1860-12-31,1,1,NaN,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27733,Piedmont-Sardinia,SPD,373,1861,1861-12-31,1,1,Kingdom of Piedmont-Sardinia,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# Merge vdem and bti datasets

data = vdem.merge(bti[['Entity', 'Year', 'Free and fair elections']], left_on = ['country_name', 'year'], right_on = ['Entity', 'Year'], how = 'left')

In [69]:
# Insert Year column back into FIW dataset

fiw_r.insert(1, 'Year', '')

In [70]:
# Reshape FIW Years dataset to prepare for merging

fiw_years = fiw_years.transpose()
fiw_years.columns = fiw_years.iloc[0]  
fiw_years = fiw_years[1:]

In [71]:
# Remove NAs from FIW years dataset

fiw_years.dropna(inplace=True)

In [72]:
# Insert FIW years data back into reshaped FIW dataset

mult = 1
i = 0
while i < len(fiw_r):
    while i < mult*205:
        fiw_r.loc[i, 'Year'] = fiw_years.iloc[mult-1, 0]
        i += 1
    mult += 1

In [73]:
# Merge FIW dataset into master dataset

# maybe dont left join, fiw has data on smaller countries that v-dem doesnt
data = data.merge(fiw_r, left_on = ['country_name', 'year'], right_on = ['Country', 'Year'], how = 'left')

In [102]:
# Merge WRP dataset into master dataset

data = data.merge(wrp, left_on = ['COWcode', 'year'], right_on = ['state', 'year'], how = 'left')

In [75]:
# Write rows in wrp that do not match with the master dataset to csv for analysis

non_matching_rows = data[data['name'].isna()]
print(non_matching_rows)
with open('non_matching_rows.txt', 'w+', newline='') as file:
   non_matching_rows.to_csv('non_matching_rows.txt', sep = '\t', index=False)

            country_name country_text_id  country_id  year historical_date  \
0                 Mexico             MEX           3  1789      1789-12-31
1                 Mexico             MEX           3  1790      1790-12-31
2                 Mexico             MEX           3  1791      1791-12-31
3                 Mexico             MEX           3  1792      1792-12-31
4                 Mexico             MEX           3  1793      1793-12-31
...                  ...             ...         ...   ...             ...
27729  Piedmont-Sardinia             SPD         373  1857      1857-12-31
27730  Piedmont-Sardinia             SPD         373  1858      1858-12-31
27731  Piedmont-Sardinia             SPD         373  1859      1859-12-31
27732  Piedmont-Sardinia             SPD         373  1860      1860-12-31
27733  Piedmont-Sardinia             SPD         373  1861      1861-12-31

       project  historical                                           histname  \
0            1           1                           Viceroyalty of New Spain
1            1           1                           Viceroyalty of New Spain
2            1           1                           Viceroyalty of New Spain
3            1           1                           Viceroyalty of New Spain
4            1           1                           Viceroyalty of New Spain
...        ...         ...                                                ...
27729        1           1                       Kingdom of Piedmont-Sardinia
27730        1           1                       Kingdom of Piedmont-Sardinia
27731        1           1  Kingdom of Piedmont-Sardinia [incorporates Lom...
27732        1           1                                                NaN
27733        1           1                       Kingdom of Piedmont-Sardinia

       codingstart  codingend  ...  othrgenpct  sumreligpct  total  dualrelig  \
0             1789       2023  ...         NaN          NaN    NaN        NaN
1             1789       2023  ...         NaN          NaN    NaN        NaN
2             1789       2023  ...         NaN          NaN    NaN        NaN
3             1789       2023  ...         NaN          NaN    NaN        NaN
4             1789       2023  ...         NaN          NaN    NaN        NaN
...            ...        ...  ...         ...          ...    ...        ...
27729         1789       1861  ...         NaN          NaN    NaN        NaN
27730         1789       1861  ...         NaN          NaN    NaN        NaN
27731         1789       1861  ...         NaN          NaN    NaN        NaN
27732         1789       1861  ...         NaN          NaN    NaN        NaN
27733         1789       1861  ...         NaN          NaN    NaN        NaN

       datatype  sourcereliab  recreliab  reliabilevel  Version  sourcecode
0           NaN           NaN        NaN           NaN      NaN         NaN
1           NaN           NaN        NaN           NaN      NaN         NaN
2           NaN           NaN        NaN           NaN      NaN         NaN
3           NaN           NaN        NaN           NaN      NaN         NaN
4           NaN           NaN        NaN           NaN      NaN         NaN
...         ...           ...        ...           ...      ...         ...
27729       NaN           NaN        NaN           NaN      NaN         NaN
27730       NaN           NaN        NaN           NaN      NaN         NaN
27731       NaN           NaN        NaN           NaN      NaN         NaN
27732       NaN           NaN        NaN           NaN      NaN         NaN
27733       NaN           NaN        NaN           NaN      NaN         NaN

[26865 rows x 4698 columns]

In [96]:
# Write master dataset to csv

data = data[data['year'] >= 1900]
with open('capstone_data.csv', 'w+', newline='') as file:
   data.to_csv('capstone_data.csv')

In [98]:
data

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,othrgenpct,sumreligpct,total,dualrelig,datatype,sourcereliab,recreliab,reliabilevel,Version,sourcecode
111,Mexico,MEX,3,1900,1900-12-31,2,1,United Mexican States,1789,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Mexico,MEX,3,1901,1901-12-31,2,1,United Mexican States,1789,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,Mexico,MEX,3,1902,1902-12-31,2,1,United Mexican States,1789,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,Mexico,MEX,3,1903,1903-12-31,2,1,United Mexican States,1789,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,Mexico,MEX,3,1904,1904-12-31,2,1,United Mexican States,1789,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26330,Zanzibar,ZZB,236,2019,2019-12-31,0,1,"Zanzibar, semi-autonomous region of Tanzania",1856,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26331,Zanzibar,ZZB,236,2020,2020-12-31,0,1,"Zanzibar, semi-autonomous region of Tanzania",1856,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26332,Zanzibar,ZZB,236,2021,2021-12-31,0,1,"Zanzibar, semi-autonomous region of Tanzania",1856,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26333,Zanzibar,ZZB,236,2022,2022-12-31,0,1,"Zanzibar, semi-autonomous region of Tanzania",1856,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26334,Zanzibar,ZZB,236,2023,2023-12-31,0,1,"Zanzibar, semi-autonomous region of Tanzania",1856,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
# visualization 

from dash import Dash, dcc, html, Input, Output
import plotly.express as px

app = Dash(__name__)

app.layout = html.Div([
    html.H4('Vdem Indicators'),
    html.P("Select a indicator:"),
    dcc.RadioItems(
        id='indicator', 
        options=["v2x_civlib", "v2x_clphy", "v2x_clpol", "v2x_freexp_altinf", "v2xcl_rol", "v2xeg_eqprotec", "v2x_corr", "v2x_execorr", "v2x_pubcorr", "v2x_rule", "v2xcl_acjst", "v2xcl_prpty", "v2juhcind", "Status"],
        value="v2x_corr",
        inline=True
    ),
    dcc.Graph(id="graph"),
])

@app.callback(
    Output("graph", "figure"), 
    Input("indicator", "value"))
def display_choropleth(indicator):
    df = data 
    fig = px.choropleth(
        df, color=indicator, locations="country_text_id", animation_frame='year',
        projection="natural earth")
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
    return fig

app.run_server(debug=True)