In [312]:
import pandas as pd
import csv
import math

In [336]:
# fix vdem
#vdem = pd.read_csv('V-Dem-CY-Full+Others-v14.csv', quoting=csv.QUOTE_NONE, encoding= 'utf-8', on_bad_lines='skip')
vdem = pd.read_csv('V-Dem-CY-Full+Others-v14.csv', encoding= 'utf-8')
bti = pd.read_csv('free-fair-elections-bti.csv', quoting=csv.QUOTE_NONE, encoding= 'utf-8')
fiw = pd.read_excel('Country_and_Territory_Ratings_and_Statuses_FIW_1973-2024.xlsx', sheet_name = 'Country Ratings, Statuses ', skiprows = 2)
fiw_years = pd.read_excel('Country_and_Territory_Ratings_and_Statuses_FIW_1973-2024.xlsx', sheet_name = 'Country Ratings, Statuses ', skiprows=1, nrows=1, header = None)

/var/folders/rd/8m4_zzhs0pn_c_576285lzcm0000gp/T/ipykernel_93274/1479933478.py:3: DtypeWarning: Columns (364,365,366,399,415,804,836,837,924,1240,1257,1486,3094,3168,3169,3341,3342,3344,3345,3347,3350,3352) have mixed types. Specify dtype option on import or set low_memory=False.
  vdem = pd.read_csv('V-Dem-CY-Full+Others-v14.csv', encoding= 'utf-8')

In [108]:
#for i in range(len(vdem)):
#    for j in range(len(vdem.columns)):
#        if type(vdem.iloc[i, j]) == 'str':
#            vdem.iloc[i, j].strip('\"')
vdem = vdem.replace('"', '', regex=True)
new_headers = []
for header in vdem.columns: 
    header = header.strip('"') 
    new_headers.append(header)
vdem.columns = new_headers

In [109]:
vdem.merge(bti[['Entity', 'Year', 'Free and fair elections']], left_on = ['country_name', 'year'], right_on = ['Entity', 'Year'], how = 'left')

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_wb_pop,e_pechmor,e_miinteco,e_civil_war,e_miinterc,e_pt_coup,e_pt_coup_attempts,Entity,Year,Free and fair elections
0,Mexico,MEX,3,1789,1789-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,Mexico,MEX,3,1790,1790-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,Mexico,MEX,3,1791,1791-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,Mexico,MEX,3,1792,1792-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,Mexico,MEX,3,1793,1793-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25244,Piedmont-Sardinia,SPD,373,1810,1810-12-31,1,1,Piedmont annexed by France,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25245,Piedmont-Sardinia,SPD,373,1811,1811-12-31,1,1,Piedmont annexed by France,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25246,Piedmont-Sardinia,SPD,373,1812,1812-12-31,1,1,Piedmont annexed by France,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25247,Piedmont-Sardinia,SPD,373,1813,1813-12-31,1,1,Piedmont annexed by France,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25248,Piedmont-Sardinia,SPD,373,1814,1814-12-31,1,1,Kingdom of Piedmont-Sardinia,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
vdem

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_mipopula,e_miurbani,e_pefeliex,e_wb_pop,e_pechmor,e_miinteco,e_civil_war,e_miinterc,e_pt_coup,e_pt_coup_attempts
0,Mexico,MEX,3,1789,1789-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
1,Mexico,MEX,3,1790,1790-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
2,Mexico,MEX,3,1791,1791-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
3,Mexico,MEX,3,1792,1792-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
4,Mexico,MEX,3,1793,1793-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25244,Piedmont-Sardinia,SPD,373,1810,1810-12-31,1,1,Piedmont annexed by France,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25245,Piedmont-Sardinia,SPD,373,1811,1811-12-31,1,1,Piedmont annexed by France,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25246,Piedmont-Sardinia,SPD,373,1812,1812-12-31,1,1,Piedmont annexed by France,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25247,Piedmont-Sardinia,SPD,373,1813,1813-12-31,1,1,Piedmont annexed by France,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25248,Piedmont-Sardinia,SPD,373,1814,1814-12-31,1,1,Kingdom of Piedmont-Sardinia,1789,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
# ok so for fiw what we have to do is have a country, year, PR, CL, and Status column, so pivot the table
#years = fiw.header
#fiw.set_index('Country', 'PR', 'CL', 'Status').stack().droplevel(1).reset_index(name='Year')
fiw.melt(id_vars=['Country', 'PR', 'CL', 'Status'])

           Country PR CL Status   variable value
0      Afghanistan  4  6     PF        CL      5
1          Albania  7  3     NF        CL      7
2          Algeria  6  5     NF        CL      6
3          Andorra  4  1     PF        CL      3
4           Angola  -  5      -        CL      -
...            ... .. ..    ...        ...   ...
30745    Yemen, N.  4  -     PF  Status.50     -
30746    Yemen, S.  7  -     NF  Status.50     -
30747   Yugoslavia  6  -     NF  Status.50     -
30748       Zambia  5  4     PF  Status.50    PF
30749     Zimbabwe  6  6     NF  Status.50    NF

[30750 rows x 6 columns]

In [332]:
for i in range(len(fiw)):
    if fiw.loc[i]['Country'] == 'Albania':
        print(i)

1

In [172]:
fiw_years
fiw_years.pivot(columns='Year(s) Under Review')

KeyError: "None of ['Year(s) Under Review'] are in the columns"

In [186]:
# pivot this, if NaN, fill with last known value
fiw_years = fiw_years.transpose()
fiw_years.columns = fiw_years.iloc[0]  
fiw_years = fiw_years[1:]

In [316]:
year = 0
for i in range(len(fiw_years)):
    if not math.isnan(fiw_years.iloc[i, 0]):
        year = fiw_years.iloc[i, 0]
    if math.isnan(fiw_years.iloc[i, 0]):
        fiw_years.iloc[i, 0] == year

TypeError: must be real number, not str

In [318]:
fiw_years

0   Year(s) Under Review
1                   1972
2                    NaN
3                    NaN
4                   1973
5                    NaN
..                   ...
149                  NaN
150                  NaN
151                 2023
152                  NaN
153                  NaN

[153 rows x 1 columns]