In [591]:
import pandas as pd
import csv
import math

In [592]:
vdem = pd.read_csv('V-Dem-CY-Full+Others-v14.csv', encoding= 'utf-8')
bti = pd.read_csv('free-fair-elections-bti.csv', quoting=csv.QUOTE_NONE, encoding= 'utf-8')
fiw = pd.read_excel('Country_and_Territory_Ratings_and_Statuses_FIW_1973-2024.xlsx', sheet_name = 'Country Ratings, Statuses ', skiprows = 2)
fiw_years = pd.read_excel('Country_and_Territory_Ratings_and_Statuses_FIW_1973-2024.xlsx', sheet_name = 'Country Ratings, Statuses ', skiprows=1, nrows=1, header = None)

/var/folders/rd/8m4_zzhs0pn_c_576285lzcm0000gp/T/ipykernel_93274/1280509826.py:1: DtypeWarning: Columns (364,365,366,399,415,804,836,837,924,1240,1257,1486,3094,3168,3169,3341,3342,3344,3345,3347,3350,3352) have mixed types. Specify dtype option on import or set low_memory=False.
  vdem = pd.read_csv('V-Dem-CY-Full+Others-v14.csv', encoding= 'utf-8')

In [593]:
vdem = vdem.replace('"', '', regex=True)
new_headers = []
for header in vdem.columns: 
    header = header.strip('"') 
    new_headers.append(header)
vdem.columns = new_headers

In [594]:
vdem = vdem[vdem['year'] >= 1972]

In [595]:
data = vdem.merge(bti[['Entity', 'Year', 'Free and fair elections']], left_on = ['country_name', 'year'], right_on = ['Entity', 'Year'], how = 'left')

In [596]:
PR = [col for col in fiw.columns if col.startswith('PR')]
CL = [col for col in fiw.columns if col.startswith('CL')]
Status = [col for col in fiw.columns if col.startswith('Status')]
fiw_r = pd.lreshape(fiw, {'PR':PR, 'CL':CL, 'Status':Status})

In [597]:
fiw_r.insert(1, 'Year', '')

In [598]:
fiw_years = fiw_years.transpose()
fiw_years.columns = fiw_years.iloc[0]  
fiw_years = fiw_years[1:]

In [599]:
#year = 0
#for i in range(len(fiw_years)):
#    if not math.isnan(fiw_years.iloc[i, 0]):
#        year = fiw_years.iloc[i, 0]
#    if math.isnan(fiw_years.iloc[i, 0]):
#        fiw_years.iloc[i, 0] = year

In [600]:
fiw_years.dropna(inplace=True)

In [601]:
mult = 1
i = 0
while i < len(fiw_r):
    while i < mult*205:
        fiw_r.loc[i, 'Year'] = fiw_years.iloc[mult-1, 0]
        i += 1
    mult += 1

In [602]:
for i in range(len(fiw_r)):
    if fiw_r.loc[i, 'Country'] == 'Angola':
        print(fiw_r.iloc[i])

Country    Angola
Year         1972
PR              -
CL              -
Status          -
Name: 4, dtype: object
Country    Angola
Year         1973
PR              -
CL              -
Status          -
Name: 209, dtype: object
Country    Angola
Year         1974
PR              -
CL              -
Status          -
Name: 414, dtype: object
Country    Angola
Year         1975
PR              6
CL              6
Status         NF
Name: 619, dtype: object
Country    Angola
Year         1976
PR              6
CL              6
Status         NF
Name: 824, dtype: object
Country    Angola
Year         1977
PR              7
CL              7
Status         NF
Name: 1029, dtype: object
Country    Angola
Year         1978
PR              7
CL              7
Status         NF
Name: 1234, dtype: object
Country    Angola
Year         1979
PR              7
CL              7
Status         NF
Name: 1439, dtype: object
Country    Angola
Year         1980
PR              7
CL              7
Status         NF
Name: 1644, dtype: object
Country    Angola
Year         1981
PR              7
CL              7
Status         NF
Name: 1849, dtype: object
Country    Angola
Year         1982
PR              7
CL              7
Status         NF
Name: 2054, dtype: object
Country    Angola
Year         1983
PR              7
CL              7
Status         NF
Name: 2259, dtype: object
Country    Angola
Year         1984
PR              7
CL              7
Status         NF
Name: 2464, dtype: object
Country    Angola
Year         1985
PR              7
CL              7
Status         NF
Name: 2669, dtype: object
Country    Angola
Year         1986
PR              7
CL              7
Status         NF
Name: 2874, dtype: object
Country    Angola
Year         1987
PR              7
CL              7
Status         NF
Name: 3079, dtype: object
Country    Angola
Year         1988
PR              7
CL              7
Status         NF
Name: 3284, dtype: object
Country    Angola
Year         1989
PR              7
CL              7
Status         NF
Name: 3489, dtype: object
Country    Angola
Year         1990
PR              7
CL              7
Status         NF
Name: 3694, dtype: object
Country    Angola
Year         1991
PR              6
CL              4
Status         PF
Name: 3899, dtype: object
Country    Angola
Year         1992
PR              6
CL              6
Status         NF
Name: 4104, dtype: object
Country    Angola
Year         1993
PR              7
CL              7
Status         NF
Name: 4309, dtype: object
Country    Angola
Year         1994
PR              7
CL              7
Status         NF
Name: 4514, dtype: object
Country    Angola
Year         1995
PR              6
CL              6
Status         NF
Name: 4719, dtype: object
Country    Angola
Year         1996
PR              6
CL              6
Status         NF
Name: 4924, dtype: object
Country    Angola
Year         1997
PR              6
CL              6
Status         NF
Name: 5129, dtype: object
Country    Angola
Year         1998
PR              6
CL              6
Status         NF
Name: 5334, dtype: object
Country    Angola
Year         1999
PR              6
CL              6
Status         NF
Name: 5539, dtype: object
Country    Angola
Year         2000
PR              6
CL              6
Status         NF
Name: 5744, dtype: object
Country    Angola
Year         2001
PR              6
CL              6
Status         NF
Name: 5949, dtype: object
Country    Angola
Year         2002
PR              6
CL              5
Status         NF
Name: 6154, dtype: object
Country    Angola
Year         2003
PR              6
CL              5
Status         NF
Name: 6359, dtype: object
Country    Angola
Year         2004
PR              6
CL              5
Status         NF
Name: 6564, dtype: object
Country    Angola
Year         2005
PR              6
CL              5
Status         NF
Name: 6769, dtype: object
Country    Angola
Year         2006
PR              6
CL              5
Status         NF
Name: 6974, dtype: object
Country    Angola
Year         2007
PR              6
CL              5
Status         NF
Name: 7179, dtype: object
Country    Angola
Year         2008
PR              6
CL              5
Status         NF
Name: 7384, dtype: object
Country    Angola
Year         2009
PR              6
CL              5
Status         NF
Name: 7589, dtype: object
Country    Angola
Year         2010
PR              6
CL              5
Status         NF
Name: 7794, dtype: object
Country    Angola
Year         2011
PR              6
CL              5
Status         NF
Name: 7999, dtype: object
Country    Angola
Year         2012
PR              6
CL              5
Status         NF
Name: 8204, dtype: object
Country    Angola
Year         2013
PR              6
CL              5
Status         NF
Name: 8409, dtype: object
Country    Angola
Year         2014
PR              6
CL              5
Status         NF
Name: 8614, dtype: object
Country    Angola
Year         2015
PR              6
CL              6
Status         NF
Name: 8819, dtype: object
Country    Angola
Year         2016
PR              6
CL              6
Status         NF
Name: 9024, dtype: object
Country    Angola
Year         2017
PR              6
CL              6
Status         NF
Name: 9229, dtype: object
Country    Angola
Year         2018
PR              6
CL              5
Status         NF
Name: 9434, dtype: object
Country    Angola
Year         2019
PR              6
CL              5
Status         NF
Name: 9639, dtype: object
Country    Angola
Year         2020
PR              6
CL              5
Status         NF
Name: 9844, dtype: object
Country    Angola
Year         2021
PR              6
CL              5
Status         NF
Name: 10049, dtype: object
Country    Angola
Year         2022
PR              6
CL              5
Status         NF
Name: 10254, dtype: object
Country    Angola
Year         2023
PR              6
CL              5
Status         NF
Name: 10459, dtype: object

In [603]:
data = data.merge(fiw_r, left_on = ['country_name', 'year'], right_on = ['Country', 'Year'], how = 'left')

In [617]:
data

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_pt_coup,e_pt_coup_attempts,Entity,Year_x,Free and fair elections,Country,Year_y,PR,CL,Status
0,Mexico,MEX,3,1972,1972-12-31,0,1,United Mexican States,1789,2023,...,0.0,0.0,NaN,NaN,NaN,Mexico,1972,5,3,PF
1,Mexico,MEX,3,1973,1973-12-31,0,1,United Mexican States,1789,2023,...,0.0,0.0,NaN,NaN,NaN,Mexico,1973,4,3,PF
2,Mexico,MEX,3,1974,1974-12-31,0,1,United Mexican States,1789,2023,...,0.0,0.0,NaN,NaN,NaN,Mexico,1974,4,3,PF
3,Mexico,MEX,3,1975,1975-12-31,0,1,United Mexican States,1789,2023,...,0.0,0.0,NaN,NaN,NaN,Mexico,1975,4,3,PF
4,Mexico,MEX,3,1976,1976-12-31,0,1,United Mexican States,1789,2023,...,0.0,0.0,NaN,NaN,NaN,Mexico,1976,4,4,PF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8851,Zanzibar,ZZB,236,2019,2019-12-31,0,1,"Zanzibar, semi-autonomous region of Tanzania",1856,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8852,Zanzibar,ZZB,236,2020,2020-12-31,0,1,"Zanzibar, semi-autonomous region of Tanzania",1856,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8853,Zanzibar,ZZB,236,2021,2021-12-31,0,1,"Zanzibar, semi-autonomous region of Tanzania",1856,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8854,Zanzibar,ZZB,236,2022,2022-12-31,0,1,"Zanzibar, semi-autonomous region of Tanzania",1856,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8855,Zanzibar,ZZB,236,2023,2023-12-31,0,1,"Zanzibar, semi-autonomous region of Tanzania",1856,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN